body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f3f3f3;
}

.main-box {
    background: #fff;
    border: 2px solid #e6e6e6;
    padding: 40px;
    border-radius: 20px;
    margin-left: 100px;
    margin-top: 100px;
    margin-right: 20px;
}

.main-box h1 {
    font-weight: normal;
    margin-bottom: 20px;
}

.main-box h1 span {
    font-weight: bold;
}

.month-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.month-selector button {
    width: 50px;
    height: 50px;
    border: 2px solid #000;
    background: #cfcfcf;
    cursor: pointer;
    font-size: 20px;
}

.month {
    width: 150px;
    height: 50px;
    border: 2px solid #000;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    font-size: 18px;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 30%;
    background: #fff;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    margin: 20px;
}

.title {
    font-size: 18px;
    margin-bottom: 20px;
}

.progress {
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 10px;
}

.progress-fill {
    width: 50%;
    height: 100%;
    background: #000;
}

.percent {
    text-align: right;
    font-size: 16px;
}

.value {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}