body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f3f3f3;
}

.container {
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 120px;
    background: #fff;
    border-right: 2px solid #000;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-item {
    width: 90px;
    height: 90px;
    border: 2px solid #000;
    border-radius: 12px;
    margin-bottom: 20px;
    text-align: center;
    padding: 5px;
    font-size: 12px;
}

.menu-item img {
    width: 45px;
}

/* CONTEÚDO */
.content {
    flex: 1;
    padding: 20px;
}

/* TOPO */
.top-bar {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 20px;
    margin-bottom: 30px;
}

.condo-name, .user-box {
    font-size: 18px;
}

/* CAIXA PRINCIPAL */
.main-box {
    background: #fff;
    border: 2px solid #e6e6e6;
    padding: 40px;
    min-height: 500px;
    border-radius: 20px;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 35px;

}

.main-box h1 {
    font-weight: normal;
    margin-bottom: 20px;
}

.main-box h1 span {
    font-weight: bold;
}

/* MÊS */
.month-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.month-selector button {
    width: 50px;
    height: 50px;
    border: 2px solid #000;
    background: #cfcfcf;
    cursor: pointer;
    font-size: 20px;
}

.month {
    width: 150px;
    height: 50px;
    border: 2px solid #000;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    font-size: 18px;
}

/* CARDS */
.cards {
    display: flex;
    justify-content: space-between;
    
}

.card {
    width: 30%;
    background: #fff;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    margin: 20px;
}

.title {
    font-size: 18px;
    margin-bottom: 20px;
}

/* PROGRESSO */
.progress {
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 10px;
}

.progress-fill {
    width: 50%;
    height: 100%;
    background: #000;
}

.percent {
    text-align: right;
    font-size: 16px;
}

/* VALORES */
.value {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}