body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f3f3f3;
}

/* CONTEÚDO */
.content {
    flex: 1;
    padding: 20px;
}

/* CAIXA PRINCIPAL */
.main-box {
    background: #fff;
    border: 3px solid #000;
    padding: 20px;
    margin-top: 85px;
    margin-left: 85px;
    margin-right: 20px;
}

/* ABAS */
.tabs {
    display: flex;
    margin-bottom: 30px;
    border: 1px solid #000;
}

.tab {
    flex: 1;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    border-right: 1px solid #000;
    cursor: pointer;
}

.tab:hover {
    background: #b4b4b4;
    transform: scale(1.05);
}

.tab:last-child {
    border-right: none;
}

.tab-active {
    flex: 1;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    border-right: 1px solid #000;
    cursor: pointer;
    background: #cfcfcf;
    font-weight: bold;
}

/* GRID DE RELATÓRIOS */
.reports-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 40px;
}

/* CARD */
.report-card {
    background: #fff;
    border: 3px solid #000;
    border-radius: 20px;
    padding: 40px 20px;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.report-card:hover {
    background: #b4b4b4;
    transform: scale(1.05);
}

.report-card.large {
    grid-column: span 3;
    width: 60%;
    margin: 0 auto;
}