.content {
    flex: 1;
    background-color: #f2f2f2;
}

.faixa-superior {
    height: 80px;
    width: calc(100% - 80px);
    background-color: white;
    margin-left: 80px;
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.top-wrapper {
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-box {
    border: 2px solid #000;
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 15px;
}

.user-box:hover {
    background: #ffffff;
    transform: scale(1.05);
}

.sidebar {
    width: 80px;
    height: 100vh;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

.menu-item-logo {
    width: 80px;
    height: 80px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s ease;
}

.logo-icon {
    font-size: 35px;
    color: #fff;
}

.menu-item {
    width: 80px;
    height: 80px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s ease;
}

.menu-item .icon {
    font-size: 35px;
    margin-bottom: 4px;
}

.menu-item p {
    font-size: 11px;
    margin: 0;
    text-align: center;
}

.menu-item:hover {
    background: #f3f3f3;
    transform: scale(1.05);
}

.menu-item-logo:hover {
    background: rgb(71, 71, 71);
    transform: scale(1.05);
}