.cards-container {
    border: 2px solid #e6e6e6;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
    margin: 20px;
    margin-left: 100px;
}

.cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 20px;
}

.card {
    width: 320px;
    background: #fff;
    border: 2px solid #000;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
}

.card img {
    width: 80px;
    margin-bottom: 10px;
}

.card p {
    font-size: 18px;
    font-weight: bold;
}

h1, p{

    text-align: center;
}