.cards-container {
    border: 2px solid #e6e6e6;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
    margin: 20px;
    margin-left: 100px;
}

h1, p{

    text-align: center;
}