body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f2f2;
}

.content {
    flex: 1;
    background-color: #f2f2f2;
}

.faixa-superior {
    height: 80px;
    width: calc(100% - 80px);
    background-color: white;
    margin-left: 80px;
    margin-bottom: 40px;
    position: fixed;
}

.top-wrapper {
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-box {
    border: 2px solid #000;
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 15px;
}

.user-box:hover {
    background: #c7c7c7;
    transform: scale(1.05);
}

.cards-container-1,
.cards-container-2 {
    border: 2px solid #e6e6e6;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
    margin-left: 100px;
    margin-right: 30px;
}

.cards-container-1 {
    margin-top: 100px;
    margin-bottom: 20px;
}

.cards-container-2 {
    margin-top: 20px;
}

.cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 20px;
}

.card {
    width: 320px;
    background: #fff;
    border: 2px solid #000;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
}

.card img {
    width: 80px;
    margin-bottom: 10px;
}

.card p {
    font-size: 18px;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    font-size: 16px;
}

th,
td {
    border: 2px solid #000;
    padding: 15px;
}

tbody tr:nth-child(even) {
    background: #d3d3d3;
}

.sidebar {
    width: 80px;
    height: 100vh;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

.menu-item-logo {
    width: 80px;
    height: 80px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s ease;
}

.logo-icon {
    font-size: 35px;
    color: #fff;
}

.menu-item {
    width: 80px;
    height: 80px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s ease;
}

.menu-item .icon {
    font-size: 35px;
    margin-bottom: 4px;
}

.menu-item p {
    font-size: 11px;
    margin: 0;
    text-align: center;
}

.menu-item:hover {
    background: #f3f3f3;
    transform: scale(1.05);
}

.menu-item-logo:hover {
    background: rgb(71, 71, 71);
    transform: scale(1.05);
}