body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f3f3f3;
}

.content {
    flex: 1;
    padding: 20px;
}

.main-box {
    background: #fff;
    border: 2px solid #e6e6e6;
    border-radius: 20px;
    padding: 20px;
    margin-top: 85px;
    margin-left: 85px;
    margin-right: 20px;
}

.tabs {
    display: flex;
    margin-bottom: 30px;
    border: 1px solid #000;
}

.tab {
    flex: 1;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    border-right: 1px solid #000;
    cursor: pointer;
    background: #fff;
}

.tab:hover {
    background: #b4b4b4;
    transform: scale(1.05);
}

.tab:last-child {
    border-right: none;
}

.tab-active {
    flex: 1;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    border-right: 1px solid #000;
    cursor: pointer;
    background: #cfcfcf;
    font-weight: bold;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px 40px;
    margin-bottom: 30px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
}

input {
    height: 35px;
    border: 1px solid #999;
    background: #e6e6e6;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
}

.edit-button {
    padding: 15px 40px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}

.edit-button:hover {
    background: #818181;
    transform: scale(1.05);
}