.content {
    flex: 1;
    background-color: #f2f2f2;
}

.cards-container-1,
.cards-container-2 {
    border: 2px solid #e6e6e6;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
    margin: 20px;
    margin-left: 100px;
    margin-right: 30px;
}

.cards-container-1 {
    margin-top: 100px;
}

.cards-container-2 {
    margin-top: 20px;
}

.cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 20px;
}

.card {
    width: 320px;
    background: #fff;
    border: 2px solid #000;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    cursor: pointer;
}

.card:hover {
    background: #c5c5c5;
    transform: scale(1.05);
}

.card img {
    width: 80px;
    margin-bottom: 10px;
}

.card p {
    font-size: 18px;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    font-size: 16px;
}

th,
td {
    border: 2px solid #000;
    padding: 15px;
}

tbody tr:nth-child(even) {
    background: #d3d3d3;
}