.container {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 50px;
}

/* Caixa principal */
.main-box {
    background: #fff;
    border: 2px solid #e6e6e6;
    border-radius: 20px;
    padding: 20px;
}

/* Título */
h1 {
    font-size: 32px;
    margin-bottom: 40px;
}

/* Grid do formulário */
.form-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px 40px;
    margin-bottom: 40px;
}

/* Inputs */
.form-group {
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-group.full {
    grid-column: span 3;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    letter-spacing: 1px;
}

input {
    height: 38px;
    background: #dddddd;
    border: 1px solid #aaaaaa;
    border-radius: 4px;
    padding: 5px;
    font-size: 16px;
}

/* Botão */
.btn {
    padding: 12px 35px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover{
    background: #777777;
    transform: scale(1.05);
}
